@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
body {
  background-color: #fafafa;
}

#triangle-topleft {
  width: 0;
  height: 0;
  border-top: 100px solid #ec2779;
  border-right: 100px solid transparent;
}

.hero__background {
  background-color: rgba(255, 255, 255, 1);
  background-image: radial-gradient(rgba(29, 78, 216, 0.75) 2px, #fafafa 1px);
  background-size: 20px 20px;
}

.dropdown:focus-within .dropdown-menu {
  opacity: 1;
  transform: translate(0) scale(1);
  visibility: visible;
}

/* Your own custom utilities */
.admonition {
  padding:  .5rem 1rem 0rem;
  margin:  .5rem 0;
}

/* Your own custom utilities */
.admonition-heading {
  margin-bottom: -1rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: capitalize;
}

/* Your own custom utilities */
.admonition-content > p {
  margin: 0;
  font-size: 1rem;
}

.admonition-icon svg {
  display: inline-block;
  margin-right: 0.5rem;
  margin-bottom: 0.2rem;
  width: 1.5rem;
  height: 1.5rem;
  stroke-width: 0;
}

.admonition-tip { border-left: 0.2rem solid #1c4ed8; }  
.admonition-tip .admonition-heading { color: #1c4ed8; }
.admonition-tip .admonition-icon svg { fill: #1c4ed8; }

.admonition-danger { border-left: 0.2rem solid #d81c61; }  
.admonition-danger .admonition-heading { color: #d81c61; }
.admonition-danger .admonition-icon svg { fill: #d81c61; }

.admonition-caution { border-left: 0.2rem solid #f9a62a; }  
.admonition-caution .admonition-heading { color: #f9a62a; }
.admonition-caution .admonition-icon svg { fill: #f9a62a; }

.admonition-note { border-left: 0.2rem solid #d81ca6; }  
.admonition-note .admonition-heading { color: #d81ca6; }
.admonition-note .admonition-icon svg { fill: #d81ca6; }

.admonition-info { border-left: 0.2rem solid #707070; }  
.admonition-info .admonition-heading { color: #707070; }
.admonition-info .admonition-icon svg { fill: #707070; }